playwright==1.48.0
pytest==8.3.3
pytest-playwright==0.5.2
pytest-xdist==3.6.1
pytest-html==4.1.1
pytest-rerunfailures==14.0
allure-pytest==2.13.5
python-dotenv==1.0.1
requests==2.32.3
faker==30.8.2
Appium-Python-Client==4.5.0
selenium
openai==1.54.4
httpx<0.28
